{% extends 'hospital/homebase.html' %}
{% load static %}
{% block content %}

<br>
<br>

<div class="jumbotron" style="margin-top: 200px; margin-bottom: 0;">
  <h1 class="display-4" style="text-align:center;">Hello, Admin</h1>
  <p class="lead">Welcome to MammoCare Solutions</p>
  <hr class="my-4">
 
  <p class="lead">
    <a class="btn btn-danger btn-lg" href="/adminsignup" role="button">Sign Up</a>
    <a class="btn btn-success btn-lg" href="/adminlogin" role="button">Login</a>
  </p>
</div>

{% endblock content %}
