
/* Custom styles for Jazzmin */


.brand-link{
    font-family: Arial, sans-serif; /* Change font family*/
    font-size: 17px; /* Change font size*/
    font-weight: 900; /* Increase font weight for extra bold */
    color: #333; /* Change text color*/
}
